<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>联羿中小学实验教学管理平台</title>
    <!--[if lte IE 9]><script>alert("您的浏览器版本过低，请更新您的浏览器至最新版或者下载360浏览器 ");</script><![endif]-->

</head>



<body>
    <script src=<%= htmlWebpackPlugin.options.path %>jquery.min.js></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://qiyukf.com/script/ff38d093394bafbe6579ad819a075d3e.js"></script>
    <!-- <script src="https://webapi.amap.com/maps?v=1.4.1&key=0b7de3baf96b2093ca2ec54caaac39fa"></script>
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script> -->
    <script src=<%= htmlWebpackPlugin.options.path %>cross-storage-master/dist/promise-1.0.0.min.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>cross-storage-master/dist/client.min.js></script>
</body>

</html>
